.content__home {
    width: 100%;
    height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #f2f2f2;
}

.header {
    width: 95%;
    margin: 0 auto;
}

.header__title {
    text-align: center;
    margin: 0;
    padding: 20px;
}

hr {
    margin: 0;
}

/***** Script Main ******/
.content__media {
    display: flex;
    width: 95%;
    height: 380px;
    margin: 20px auto 0 auto;
    background-color: white;
}

.buttons {
    width: 95%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
}

.script {
    width: 50%;
    padding: 20px;
}

.script__title {
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

/***** Script header ******/
.script__headers {
    display: flex;
    width: 40%;
    justify-content: space-between;
}

.script__words {
    color: #9A9290;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.script__duration {
    color: #cac6c4;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.script__duration span {
    color: #9A9290;
}

/***** Script body ******/
.script__body {
    width: 100%;
    min-height: 250px;
}

.script-text {
    width: 100%;
    height: 250px;
    font-size: 18px;
    font-family: sans-serif;
    border: none;
    resize: none;
    padding: 10px;
    overflow-y: scroll;
    background-color: #f2f2f2;    
}

.script-text::placeholder {
    color: #cac6c4;
}

.script-text::-webkit-scrollbar {
    display: none;
}

.script-text:focus {
    outline: none;
}

/***** Video ******/
.videos {
    width: 50%;
    padding: 20px;
}

.video__content video {
    width: 340px
}